.toolbar {
  height: 50px;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 10%;
}

.toolbar__logo {
  font-weight: bold;
  font-size: 22px;
  display: flex;
  align-items: center;
}

.toolbar__textlogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.spacer {
  flex: 1;
}

.toolbar_navigation_items ul {
  display: flex;
}

.toolbar_navigation_items li {
  margin-right: 50px;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

@media (max-width: 768px) {
  .toolbar_navigation_items {
    display: none;
  }
  .toolbar__toggle_button {
    margin-right: 10px;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle_button {
    display: none;
  }
}
